.btn {
  background: white;
  color: black;
  border-color: black;
  border-radius: 50px;
}
.btn:hover {
  background-color: #aed3e2;
  color: black;
}

body {
  background-color: rgb(152, 144, 144);
}

body {
  background: white;
}

.hero-banner img {
  width: 100%;
  object-fit: cover;
  height: 600px;
  padding: 2rem;
}

#carouselExampleCaptions {
  width: 100%;
  padding: 2rem;
}
.carousel-item img {
  height: 500px;
  object-fit: cover;
}

.welcome-text {
  display: block;
  text-align: center;
}
.welcome-2 {
  display: block;
  text-align: center;
}

.welcome-text {
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-top: 2rem;
  margin-bottom: 20px;
  animation: text 3s 1;
}
.welcome-2 {
  font-size: 25px;
  color: rgb(0, 0, 0);
}
.letter {
  color: rgb(255, 145, 0);
  font-family: "Great Vibes", cursive;
}

@keyframes text {
  0% {
    color: rgb(216, 28, 28);
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
}
