.nav-link {
  color: rgb(247, 247, 247);
  font-size: 15px;
}
.nav-link:hover {
  color: burlywood;
}
.justify-content-end {
  background-color: rgb(0, 0, 0);
}

header {
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(56, 58, 60);
  padding: 2rem 9%;
}

header .logo img {
  width: 100px;
}

header .navbar a {
  margin-left: 2rem;
  color: rgb(255, 255, 255);
  font-family: "Courier", monospace;
}

header .navbar a:hover {
  color: #546f80;
  font-size: 20px;
}

header .navbar a,
.footer-choice .nav-link {
  position: relative;
  text-decoration: none;
  padding: 0.5em 0.8em !important;
  margin: 0.2em 0;
}
