.fa-shopping-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  background: $primary-color;
  color: $sedoncardy-color;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background: hsl(147, 32%, 27%);
  }
}
.cart_added {
  .fa-shopping-cart {
    background: red;
    &:hover {
      background: hsl(51, 92%, 41%);
    }
  }
}
#cart_details {
  margin-top: 1rem;
  margin-bottom: 3rem;
  .price {
    position: relative;
    text-align: right;
    padding-right: 3rem;
  }
  .close_wrapper {
    display: inline-block;
    position: absolute;
    right: 0;
    cursor: pointer;
    opacity: 0.35;
    transition: opacity 0.3s;
    &:hover {
      opacity: 1;
    }
  }
  .total_price_wrapper {
    border-top: 1px solid $primary-color;
    padding: 2vh 0;
  }
  .product_img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
  .product_link {
    display: block;
    text-decoration: none;
  }
}
