.btn {
  background: $sedoncardy-color;
  color: $primary-color;
  border-color: $primary-color;
  border-radius: 50px;

  &:hover {
    background-color: #aed3e2;
    color: $primary-color;
  }
}

body {
  background-color: rgb(152, 144, 144);
  background: $sedoncardy-color;
}

.hero-banner img {
  width: 100%;
  object-fit: cover;
  height: 600px;
  padding: 2rem;
}

.welcome-text,
.welcome-2 {
  display: block;
  text-align: center;
}

.welcome-text {
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-top: 2rem;
  margin-bottom: 20px;
  animation: text 3s 1;
}

.welcome-2 {
  font-size: 25px;
  color: $primary-color;
}

.letter {
  color: $hover-nav;
  font-family: "Great Vibes", cursive;
}

@keyframes text {
  0% {
    color: $hover-nav;
    margin-bottom: -40px;
  }

  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
}
